<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kz.telecom.happydrive">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".HappyDriveApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Base.AppTheme.Translucent.NoActionBar">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.PortfolioActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".ui.CardEditActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".ui.AuthActivity"
            android:label="@string/app_name"
            android:noHistory="true"/>
        <activity
            android:name=".ui.auth.MainLoginActivity"
            android:label="@string/title_activity_main_login">
        </activity>
        <activity
            android:name=".ui.auth.EmailLoginActivity"
            android:label="@string/title_activity_register">
        </activity>
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:label="@string/title_activity_register">
        </activity>
        <activity
            android:name=".ui.auth.ResetActivity"
            android:label="@string/title_activity_reset">
        </activity>

        <!--<activity android:name="com.facebook.FacebookActivity"-->
        <!--android:configChanges=-->
        <!--"keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
        <!--android:label="@string/app_name" />-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="444a8bc27f1541207a800de39f493a507f9e8708"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="894471510605950"/>
    </application>
</manifest>
